nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: blue;
    padding: 10px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0,0.06);
}
nav h1{
    text-align: left;
    color: white;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul a{
    padding: 0 20px;
    position: relative;
}
#adminAppliedLoan,#AdminLoanDetails{
    margin: 20px;
}
#adminAppliedLoan,#AdminLoanDetails,#logout{
    color: white;
    text-decoration: none;
}
#adminAppliedLoan:hover,#AdminLoanDetails:hover{
    color: black;
}
#logout:hover{
    color: red;
}
#searchInput{
    margin: 40px 20px 0px 20px;
    background-color: rgb(161, 159, 159);
    height: 30px;
    width: 300px;
}
::placeholder{
    color: black;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

#searchBtn{
    background-color: black;
    color: white;
    height: 38px;
    width: 100px;
    font-weight: bolder;
}
#searchBtn:hover{
    background-color: white;
    color: black;
}
#errordiv{
    color: red;
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#Log{
    background-color: blue;
   }
   #txtemail{
       margin-top:100px;
   }
   #txtpassword,#txtemail{
       display: flex;
       position: relative;
       top:50%;
       left:50%;
       transform: translate(-50%,-50%);
       box-shadow: 0 5px 15px rgba(0, 0, 0,0.06);
   }