#Log{
 background-color: blue;
}
#txtemail{
    margin-top:100px;
}
#txtpassword,#txtemail{
    display: flex;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 5px 15px rgba(0, 0, 0,0.06);
}