.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    border: 2px solid #0e0d0d;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(245, 241, 241, 0.871);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: '400px';
    background-color: #fafafd;
    
  }
  
  .form-label {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  #Reg{
    background-color: blue;
    margin: auto;
    width: 21.5%;
    margin: 50px 0px 20px 0px;
    border-radius: 5px;
   }
  
  .form-control {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    text-align: left;
    font-weight: bold;
  }
  
  
  input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 20%;
    border-radius: 5px;
  }
  
  button {
    margin-top: 20px;
    padding: 8px 20px;
    font-size: 16px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2b70c8;
  }
  
  .error {
    color: red;
    margin: 10px 0;
  }
  
  a {
    color: #4285f4;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  select {
    margin: 0px;
    padding: 8px 20px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  option {
    padding: 5px;
    font-size: 14px;
    color: #555;
  }
  #submitButton {
    margin-top: 20px;
  }
  
  #signuplink {
    margin-top: 20px;
    font-size: 16px;
  }
  .validation{
    color: red;
  }